<h1>
<div style="text-align:center;">
	<span style="font-size:16px;"><strong><span style="color:#337FE5;font-size:18px;">关于</span>这个</strong></span><span style="color:#003399;font-size:24px;"><strong>网站</strong></span><span style="font-size:18px;">-</span><strong><span style="color:#E53333;font-size:24px;"><span style="color:#9933E5;">“</span><span style="color:#E53333;">乐</span></span></strong><strong><span style="color:#006600;font-size:24px;">聚<span style="color:#EE33EE;">”</span></span></strong>
</div>
</h1>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; <strong><span style="color:#E53333;font-size:16px;">乐</span><span style="color:#006600;font-size:16px;">聚</span></strong>，以<span style="color:#CC33E5;font-size:14px;"><strong>微博</strong></span>的形式，来促成<strong><span style="font-size:14px;color:#006600;">聚会活动</span></strong>。为了让大家多聚聚，所以建立了这个网站。
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; 一篇普通<strong><span style="font-size:14px;color:#4C33E5;">微博</span></strong>，是用来<strong><span style="color:#E53333;">传递信息</span></strong>的。而在乐聚所发布的<strong><span style="font-size:14px;color:#9933E5;">聚会计划微博</span></strong>，不只传递信息，更是<span style="font-size:16px;color:#E53333;"><strong>聚会的召集</strong></span>，而且不仅是召集<strong><span style="font-size:14px;color:#003399;">参加</span></strong>，更是参与<strong><span style="font-size:14px;color:#003399;">组织</span></strong>和<strong><span style="font-size:14px;color:#003399;">谋划</span></strong>。
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; 和微博一样，在乐聚里可以<strong><span style="color:#006600;">关注好友</span></strong>，<strong><span style="color:#337FE5;">拥有粉丝</span></strong>。
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; 当关注了好友后，在<strong><span style="color:#E53333;">主页</span></strong>，能看见好友发布的活动召集。如果觉得是个好计划，那就<strong><span style="font-size:16px;color:#9933E5;">报名</span></strong>参加。如果有不同的意见，就<span style="font-size:16px;color:#E53333;"><strong>修改</strong></span>这个计划。当然也可以只是随意<strong><span style="font-size:16px;color:#003399;">评论</span></strong>两句。
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; 活动的<strong><span style="font-size:14px;color:#006600;">状态</span></strong>有三种。在活动日期的一天前，活动在<strong><span style="font-size:16px;color:#006600;">召集中</span></strong>，接受报名。当报名人数够了，那就活动<strong><span style="font-size:16px;color:#E53333;">成行</span></strong>。直到活动日一天前，仍然接受报名，但如果报名人数不够，那就活动<strong><span style="font-size:16px;color:#666666;">过期</span></strong>了。
</p>
<p>
	&nbsp; &nbsp; &nbsp; &nbsp; 报名人数是决定活动是否成行的<strong><span style="font-size:16px;color:#9933E5;">唯一条件</span></strong>，报名或者取消报名都完全<strong><span style="font-size:14px;color:#E53333;">自由</span></strong>，除了一种情况，就是因为取消报名而导致本来成行的活动不能成行的时候，不能允许取消报名。
</p>
</section><br />



