<h1>关于这个网站-乐聚</h1>

<p>
&nbsp; &nbsp; 乐聚。以微博的形式，来促成聚会活动。
为了让大家多聚聚，所以建立了这个网站。
</p>

<p>
&nbsp; &nbsp; 一篇微博，是用来传递信息的。而在乐聚所发布的聚会计划，不只传递信息，更是聚会的召集。叫做微计划。
微计划不仅是召集大家参加，更是参与组织和谋划。
</p>

<p>
&nbsp; &nbsp; 和微博一样，在乐聚里可以关注好友，拥有粉丝。
</p>

<p>
&nbsp; &nbsp; 当关注了好友后，在主页，能看见好友发布的活动召集。如果觉得是个好计划，那就报名参加。如果有不同的意见，就修改这个计划。当然也可以随意评论两句，发表下看法。
</p>

<p>
&nbsp; &nbsp; 报名参加活动是个严肃的决定，因为报名人数是决定活动是否成行的唯一条件。
</p>

<p>
&nbsp; &nbsp; 修改活动计划，修改内容，修改参与人数，修改活动日期，都可以。
</p>

<p>
&nbsp; &nbsp; 活动的状态有三种。在活动日期的一天前，活动在召集中，接受报名。当报名人数够了，那就活动成行，直到活动日一天前，仍然接受报名。如果报名人数不够，那就活动过期了。
</p>


